.greeting {
  background-color: antiquewhite;
  margin-left: 80px;
  margin-top: 30px;
  margin-right: 125px;
}

.cards {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 125px;
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
