/*
#a1a8be - Violeta
#2e3038 - Violeta oscuro (letras)
#BA9F38 - Mostaza 
#F3D0C3 - Rosa 
*/

.NavbarContainer {
  background-color: #a1a8be;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding-left: 15px;
  padding-right: 35px;
}

.categoriesList {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-right: 400px;
}

li {
  list-style: none;
}

.mainIcon {
  width: 60%;
}

.customBadge .MuiBadge-badge {
  background-color: #f3d0c3;
  color: #2e3038;
  padding: 0 6px;
  font-size: 0.75rem;
  font-weight: bold;
}
