body {
  height: 100%;
  background-color: #faebe6;
}

.cardDetailImg {
  width: 20%;
  border-radius: 3rem;
  margin-top: 50px;
  margin-left: 70px;
}

.itemDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  margin-bottom: 10%;
}

.itemDetail p {
  color: #2e3038;
  font-size: 25px;
}

.containerCounter {
  display: flex;
  flex-direction: row;
}

.counterContainer {
  margin-right: 100px;
}
